.object-fit-cover {
    object-fit: cover;
}

.letter-spacing-sm {
    letter-spacing: 0.025em;
}
.letter-spacing-base {
    letter-spacing: 0.05em;
}
.letter-spacing-lg {
    letter-spacing: 0.125em;
}
.letter-spacing-loose {
    letter-spacing: 0.15em;
}
